<!doctype html>
<html lang="en" dir="ltr"  xmlns:th="http://www.thymeleaf.org" >

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Style CSS-->
    <link rel="stylesheet" th:href="@{/css/AllUsers.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Vacation Manager</title>
</head>

<body >



<hr class = "firstHr">
<hr class = "secondHr">
<div class = "table">

    <div class = "tableFields"> First Name </div>

    <div class = "tableFields"> Last Name </div>

    <div class = "tableFields"> Company Name</div>


</div>


<table>
    <tr th:each="user : ${list}">

        <td><span th:text="${user.firstName}" class = "FirstName">First Name</span></td>
        <td><span th:text="${user.lastName}" class = "LastName">Last Name</span></td>
        <td> <span th:text="${user.companyName}" class = "CompanyName">Company Name</span>
</tr>
</table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>